
.outer_container{
    height: auto;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inner_container1{
    height: auto;
    width: auto;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.inner_container2{
    width: 30%;
    /* border: solid 2px red; */
    border-radius: 10px;
    margin: 10%;
    background: #DCEAF2 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #0000008F;
}

.inner_container3{
    padding: 5%;
}

.form_header{
    text-align: center;
}

.radio_buttons{
    display: flex;
    align-items: center;
    justify-content:stretch;
    letter-spacing: normal;
}
.input_form{
    height: 35px;
    border-radius: 5px;
    border: none;
}

.form_feilds{
    display: flex;
    flex-direction: column;
    line-height: 2;

}

.submit_form{
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #767E83;
    width: 80%;
    color: aliceblue;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;

}

.disabled_submit_form{
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #d7dfe4;
    width: 80%;
    color: aliceblue;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.submit_button{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ending_text{
    margin-top: 5%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.error_msg{
    line-height: 0.5;
    color: red;
    font-size: 12px;
    font-weight: 500;
}


/* input::-webkit-outer-spin-button, */
/* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
.number{
  -moz-appearance: textfield;

}

/* input[type=number] {
  -moz-appearance: textfield;
} */